	#roundabout-holder{
		width:960px;
		height:305px;
		padding:0px 0 0 0;

	}
#roundabout{
					
					float:left;
					width:960px;
					height:320px;
					margin-bottom: 0px;
					overflow:hidden;
					padding:0 0 15px 0;
				
					}

.roundabout-holder	{
					width:960px;
					height:305px;
					margin:0px auto 0 auto;
					padding:0!important;
					list-style:none;
					}

.roundabout-moveable-item {
					width:230px;
					height:235px;
					display:block;
					overflow:hidden;
					padding:0px 0px 0 0;
					border:1px solid #9C9B9C;
					box-shadow:0 0 5px rgba(0, 0, 0, 0.4);
					-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.4);
					-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.4);
					}
