* { margin: 0; padding: 0; }		
html { 
	background: url(../images/login/racer.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#page-wrap-logo
{
	width: 300px;
	height: 75px; 
	margin: 0px 0px 0px 150px; 
	padding: 20px; 
	background: #000; 
	color: #fff; 
	border: 2px solid white; 
	-moz-box-shadow: 0 0 20px white; 
	-webkit-box-shadow: 0 0 20px white; 
	box-shadow: 0 0 20px white; 
	font-size: 20px;
}
#page-wrap  
{
	width: 300px;
	height: 370px; 
	margin: 30px 0px 0px 150px; 
	padding: 20px; 
	background: #000; 
	color: #fff; 
	border: 2px solid white; 
	-moz-box-shadow: 0 0 20px white; 
	-webkit-box-shadow: 0 0 20px white; 
	box-shadow: 0 0 20px white; 
	font-size: 20px;
}
#page-wrap-signup
{
	width: 300px;
	height: 650px; 
	margin: 30px 0px 20px 150px; 
	padding: 20px; 
	background: #000; 
	color: #fff; 
	border: 2px solid white; 
	-moz-box-shadow: 0 0 20px white; 
	-webkit-box-shadow: 0 0 20px white; 
	box-shadow: 0 0 20px white; 
	font-size: 20px;
}
label {
	font-weight:bold;
	display: block; 
	font-size: 12px; 
	margin: 5px 0; 
	color:White;
}
a.small, span.small {
	font-weight:normal;
	font-size: 12px; 
	color:White;
}
input[type=text],input[type=password],textarea,select {
	background-color:#FFF;
	border:1px solid #000;
	font-size:14px;
}
select {
	width:300px;
}
select.small {
	width:70px;
}
textarea {
	width:680px;
	height:180px;
	padding:10px 5px;
}
.requiredfield 
{
    color: Red;
}
/*-------------------------------------------------------*/
/*---------------18 - BUTTONS CSS---------------*/
/*-------------------------------------------------------*/
.button {
	cursor:pointer;
	font-size:11px;
	color:#ffffff!important;
	text-decoration:none!important;
	text-shadow:0px -1px 0px rgba(000,000,000,0.4),0px 0px 0px rgba(255,255,255,0);
	border-radius:99px;
	-moz-border-radius:99px;
	-webkit-border-radius:99px;
}
.button:hover {
	text-decoration:none;
}
.button:active {
	text-decoration:none;
	position:relative;
	top:1px;
}
.button.round {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.button.cube {
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}
.button.small {
	padding:5px 12px;
}
.button.big {
	padding:8px 20px;
}
.button.huge {
	padding:15px 30px;
	font-size: 16px;
}

/*DEEP RED */
.button.deep-red {
	background-color:#bf0101;
	background:-moz-linear-gradient( top,#bf0101 0%,#b2001a);
	background:-webkit-gradient( linear,left top,left bottom,from(#bf0101),to(#b2001a));
	border:1pt solid #b61c04;
	-webkit-box-shadow:0 1px 2px #e5e5e5,inset 0 0 7px #cc240a;
	-moz-box-shadow:0 1px 2px #e5e5e5,inset 0 0 7px #cc240a;
	box-shadow:0 1px 2px #e5e5e5,inset 0 0 7px #cc240a;
}
.button.deep-red:hover {
	color:#FFF;
	-webkit-box-shadow:0 1px 2px #e5e5e5,inset 0 0 25px #f64226;
	-moz-box-shadow:0 1px 2px #e5e5e5,inset 0 0 25px #f64226;
	box-shadow:0 1px 2px #e5e5e5,inset 0 0 25px #f64226;
	border:1pt solid #b61c04;
	border-top:1pt solid #cc240a;
}
.button.deep-red:active {
	background:#bf0101;
	background:-moz-linear-gradient(top,#b2001a 0%,#d0372c 56%,#bf0101 99%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#b2001a),color-stop(56%,#d0372c),color-stop(99%,#bf0101));
	background:-webkit-linear-gradient(top,#b2001a 0%,#d0372c 56%,#bf0101 99%);
	background:-o-linear-gradient(top,#b2001a 0%,#d0372c 56%,#bf0101 99%);
	background:-ms-linear-gradient(top,#b2001a 0%,#d0372c 56%,#bf0101 99%);
	background:linear-gradient(top,#b2001a 0%,#d0372c 56%,#bf0101 99%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2001a',endColorstr='#bf0101',GradientType=0 );
	color:#898989;
	-webkit-box-shadow:0 1px 2px #e5e5e5,inset 0 0 25px #cc240a;
	-moz-box-shadow:0 1px 2px #e5e5e5,inset 0 0 25px #cc240a;
	box-shadow:0 1px 2px #e5e5e5,inset 0 0 25px #cc240a;
	border: 1pt solid #b61c04;
}
/*-------------------------------------------------------*/
/* Flash Messages */
/*-------------------------------------------------------*/
.flash-message-info, 
.flash-message-success, 
.flash-message-failure, 
.flash-message-warning {border-style: solid; border-width: 1px 1px 1px 3px; padding: 3px; margin:3px; font-size: 16px; font-weight:bold; color:#333;}
.flash-message-info {background-color: #CFF; border-color: #3CF;}
.flash-message-success {background-color: #DFFFDF;border-color: #3C3;} 
.flash-message-failure {background-color: #C10000;border-color: #C10000;color: #ff0;}
.flash-message-warning {background-color: lemonchiffon; border-color: #C10000; color: #000;}
/* .flash-message-warning {background-color: #fffed7;border-color: #B3B300;} */

.tagline {
    font-family: 'Michroma', 'Orbitron', Verdana, Helvetica, Trebuchet MS, Sans-Serif;
    font-size: 14px;
}

.bottom {
    font-family: 'Maven Pro', 'Didact', Verdana, Helvetica, Trebuchet MS, Sans-Serif;
    font-size: 14px;
}