<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <appSettings>
      <!--
      <add key="DebugMode" value="true" xdt:Transform="Replace" />
      
      <add key="EfConnectionStringFormat" 
           value="metadata=res://*/Data.EF.Models.csdl|res://*/Data.EF.Models.ssdl|res://*/Data.EF.Models.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost/sqlexpress;Initial Catalog=MerchantTribe;User ID=SecondStrategyLogin;Password=Password123;MultipleActiveResultSets=True&quot;;"
           xdt:Transform="SetAttributes(value)"
           xdt:Locator="Condition(@key='EfConnectionStringFormat')" />
      -->
      
      <add key="DebugMode" value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Condition(@key='DebugMode')" />
      
    </appSettings>

    <connectionStrings>
      <add name="commerce6ConnectionString" 
           connectionString="Data Source=localhost/sqlexpress;Initial Catalog=MerchantTribe;User ID=SecondStrategyLogin;Password=Password123;" 
           xdt:Transform="SetAttributes(connectionString)"
           xdt:Locator="Condition(@name='commerce6ConnectionString')" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
