<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <!--
      <add key="DebugMode" value="true" xdt:Transform="Replace" />
      
      <add key="EfConnectionStringFormat" 
           value="metadata=res://*/Data.EF.Models.csdl|res://*/Data.EF.Models.ssdl|res://*/Data.EF.Models.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost/sqlexpress;Initial Catalog=MerchantTribe;User ID=SecondStrategyLogin;Password=Password123;MultipleActiveResultSets=True&quot;;"
           xdt:Transform="SetAttributes(value)"
           xdt:Locator="Condition(@key='EfConnectionStringFormat')" />
      -->

    <add key="DebugMode" value="false" xdt:Transform="SetAttributes(value)" xdt:Locator="Condition(@key='DebugMode')" />
  </appSettings>
  
    <!--
      In the example below, the "SetAttributes" transform will change the value of 
      "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
      finds an atrribute "name" that has a value of "MyDB".
    
      <connectionStrings>
        <add name="MyDB" 
          connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </connectionStrings>
    -->
    <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

</configuration>
