<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MerchantTribe.Billing.Properties.Settings.commerce6ConnectionString"
            connectionString="Data Source=swetnationuser.db.8813933.hostedresource.com;Initial Catalog=SwetNationUser;User ID=SwetNationUser;Password=Sammi0303;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>